nav 
    section.nav-left 
        a(href='#').nav-logo
            img(src='/img/logo.png', alt='logo')
        div 
            a(href='/accueilEmployee') Accueil
            div.dropdown-content
        div
            a(href='#') Emplois du temps
            div.dropdown-content
        div
            a(href='#') Opérations
            div.dropdown-content
                a(href='listeOperations') Liste des opérations à effectuer
                a(href='operationsDuJour') Opérations du jour
        div
            a(href='informationsClients') Informations client
            div.dropdown-content
        div
            a(href='#') Pièces
            div.dropdown-content
                a(href='#') Consulter le stock des pièces
                a(href='#') Demander des pièces
    section.nav-right
        img(src='/img/logout.png', alt='Déconnexion', class='logout')
