extends base

block content
	main.menu 
		a(href="creerUtilisateur")
			article.btn-menu
				img(src="img/createClient.png", alt="Création utilisateur")
				h3 Créer un utilisateur
		a(href="statistiques")
			article.btn-menu.client
				img(src="img/stats.png", alt="Statistiques")
				h3 Statistiques
		article.btn-menu.operation
			img(src="img/operation.png", alt="Operations")
			h3 Opérations

	

	section.popupmenu.operation-full.hidden
		main.menu
			a(href="creer-piece")
				article.btn-menu
					img(src="img/operation.png", alt="Création opération")
					h3 Créer une opération
			a(href="liste-pieces")
				article.btn-menu
					img(src="img/operationsList.png", alt="Gestion opérations")
					h3 Gérer les opérations
		button.back ✖



	script(src="js/accueilAdmin.js")