html 
	head 
		title AutoCars | #{title}
		link(rel='stylesheet', href='/css/style.css')
		link(rel='shortcut icon', href='/img/favicon.ico')

	body 
		include _navbar
		
		block content
			h1 placeholder
		