html 
	head 
		title AutoCars | #{title}
		link(rel='stylesheet', href='/css/style.css')
		link(rel='shortcut icon', href='/img/favicon.ico')

	body 

		case user.role 
			when 'admin' 
				include _navbarAdmin
			when 'chief'
				include _navbarChief
			when 'employee' 
				include _navbarEmployee


			
		block content

		

	script(src='js/bundle.js')