html 
	head 
		title AutoCars | #{title}
		link(rel='stylesheet', href='/css/style.css')
		link(rel='shortcut icon', href='/img/favicon.ico')

	body 
		//- - if (user.role === 'admin')
		//- 	include _navbarAdmin
		//- - else if (user.role === 'chief')
		//- 	include _navbarChief
		//- - else if (user.role === 'employee')
		//- 	include _navbarEmployee
		include _navbar

		block content
			h1 placeholder
		

	script(src='js/bundle.js')