html 
	head
		title AutoCars | #{title}
		link(rel='stylesheet', href='/css/stylePrez.css')
		link(rel='shortcut icon', href='/img/favicon.ico')
	body


		section.home
			<svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 250" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(62, 150.584, 243, 1)" offset="0%"></stop><stop stop-color="rgba(11, 204.812, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,150L1440,25L2880,25L4320,175L5760,225L7200,150L8640,25L10080,25L11520,25L12960,200L14400,175L15840,100L17280,25L18720,50L20160,150L21600,225L23040,200L24480,175L25920,175L27360,100L28800,225L30240,200L31680,0L33120,200L34560,125L34560,250L33120,250L31680,250L30240,250L28800,250L27360,250L25920,250L24480,250L23040,250L21600,250L20160,250L18720,250L17280,250L15840,250L14400,250L12960,250L11520,250L10080,250L8640,250L7200,250L5760,250L4320,250L2880,250L1440,250L0,250Z"></path></svg>
			nav 
				img(src='/img/logo.png', alt='logo')
				a(href='/connexion') Connexion

			
			h1 AutoCars
			h2 Un site web pour gérer les activités de votre garage automobile 



		section.functionnalities 
			h2 Fonctionnalités


			section
				article.manageVehicles
					h3 Gestion des véhicules

				article.manageCustomers
					h3 Gestion des clients

				article.manageEmployees
					h3 Gestion des employés

				article.manageOrders
					h3 Gestion des commandes

				article.manageInvoices
					h3 Gestion des factures

				article.manageStocks
					h3 Gestion des stocks

				article.manageAppointments
					h3 Gestion des rendez-vous



		section.screenshots 
			<svg id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ><path fill="#474bff" d="M404.5,270.5Q386,301,384.5,342Q383,383,354.5,415Q326,447,283,460.5Q240,474,197,460.5Q154,447,114,426.5Q74,406,72,358.5Q70,311,77.5,275.5Q85,240,65,199.5Q45,159,78,135Q111,111,132.5,71.5Q154,32,197,46.5Q240,61,269,80.5Q298,100,324,115Q350,130,364.5,156Q379,182,401,211Q423,240,404.5,270.5Z" /></svg>


		section.team


		section.contact


		footer
			p © 2022 AutoCars

